*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #eeeeea;
}
.wrapper{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    height: 500px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
}
.card{
    width: 80px;
    background-size: cover;
    cursor: pointer;
    overflow: hidden;
    border-radius: 2rem;
    margin: 0 10px;
    display: flex;
    align-items: flex-end;
    box-shadow: 0px 10px 30px -5px rgba(0,0,0,0.8);
    transition: 600ms;
}
.row{
    color: white;
    display: flex;
    flex-wrap: nowrap;
}
.icon{
    color: white;
    border-radius: 50%;
    background-color: #223;
    width: 50px;
    margin: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.description{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    overflow: hidden;
    height: 80px;
    width: 520px;
    opacity: 0;
    transform: translateY(30px);
    transition-delay: .3s;
    transition: all 1.5s ease;
}
.description p{
    color: #b0b0b0;
    padding-top: 5px;
}
.description h4{
    text-transform: uppercase;
}
input{
    display: none;
}
input:checked + label {
    width: 600px;
}
input:checked + label .description{
    opacity: 1;
    transform: translateY(0);

}
.card[for="c1"]{
    background: url(./Media/winter.jpg) center/cover;
}
.card[for="c2"]{
    background: url(./Media/beach.jpg) center/cover;
}
.card[for="c3"]{
    background: url(./Media/star.jpg) center/cover;
}
.card[for="c4"]{
    background: url(./Media/waouh.jpg) center/cover;
}
.card[for="c5"]{
    background: url(./Media/paysage.jpg) center/cover;
}
.card[for="c6"]{
    background: url(./Media/mountain.jpg) center/cover;
}
.card[for="c7"]{
    background: url(./Media/city.jpg) center/cover;
}